/* font-family: 'Orbitron', sans-serif; */
/* font-family: 'Press Start 2P', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html{
  font-family: 'Orbitron', sans-serif;
  color: rgba(255,255,255, 0.6);
  background-image: url(starTrek.jpg);
  background-size: cover;
  background-position:center;

}
span{
  font-weight: 700;
}
h1{
  text-align: center;
  letter-spacing: 10px;
  font-size: 50px;
  text-transform: uppercase;
  text-decoration: underline;
}
h2{
  font-size: 2em;
}
#series-movies {
  font-size: 20px;
}
li{
  font-size: 1rem;
  line-height: 2;
}
#characters {
  font-size: 18px;
}
h4{
  font-family: 'Press Start 2P', cursive;
  letter-spacing: 15px;
}
h2, h3, h4 {
  text-align: center;
}